<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ resume.data.basics.name }}</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

    :root {
      --color-main: #4e2562;
    }

    * {
      margin: 0;
      padding: 0;
      font-family: "Fredoka", sans-serif;
    }

    a {
      color: #fff !important;
    }

    html,
    body {
      background: var(--color-main);
      color: #fff;
      margin: 0 !important;
      padding: 0 !important;
    }

    .spacer {
      height: 50px;
    }

    .section-title {
      text-transform: uppercase;
      font-size: 30px;
    }

    .section-text {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 20px;
    }

    .section-text-summary ul {
      margin-left: 25px;
    }

    .section-wrapper {
      position: relative;
      overflow: hidden;
    }

    .section-wrapper--icon {
      position: absolute;
      top: -10px;
      right: -10px;
      height: 300px;
      z-index: 0;
      opacity: .5;
    }

    .section-content {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 30px;
    }

    .section-work-summary {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  </style>
</head>

<body>

  <!-- Header -->
  <div class="section-wrapper" style="color:#fff; padding:30px 0; border-top: solid 1px #00000011;">
    <div class="section-content">
      <h1 style="font-size:40px;">{{ resume.data.basics.name }}</h1>
      <h3 style="font-size:20px;">{{ resume.data.basics.label }}</h3>
      <br />

      <div style="display:flex; align-items:center; gap:10px;">
        <img style="height:20px;"
          src="https://api.iconify.design/material-symbols:location-on.svg?height=12&color=%23ffffff" alt="" />
        <h3>{{ resume.locationHumanized(resume.data.basics.location) }}</h3>
      </div>
      <br />

      <div style="display:flex; flex-direction:column; gap:5px;">
        @each(link in resume.getLinks())
        <div>
          <a href="{{ link.url }}" target="_blank" title="{{ link.name }}"
            style="display:flex; align-items:center; gap:5px;">
            <img src="{{ link.icon }}?color=%23ffffff" alt="" style="height:20px;" />
            <span>{{ link.name }}</span>
          </a>
        </div>
        @end
      </div>

    </div>
  </div>


  <!-- Summary -->
  <div class="section-wrapper" style="background:#ffffff12; border-top: solid 1px #00000011;">
    {{-- <img class="section-wrapper--icon" src="https://api.iconify.design/ic:round-waving-hand.svg?color=%23502562"
      alt="" /> --}}

    <div class="section-content">
      <div class="spacer"></div>
      <h2 class="section-title">Resumo</h2>
      <div class="spacer"></div>

      <div class="section-text section-text-summary">
        {{{ resume.markdownToHtml(resume.data.basics.summary) }}}
      </div>
      <div class="spacer"></div>
    </div>
  </div>


  <!-- Education -->
  <div class="section-wrapper" style="background:#ffffff09; border-top: solid 1px #00000011;">
    {{-- <img class="section-wrapper--icon" src="https://api.iconify.design/ic:round-waving-hand.svg?color=%23502562"
      alt="" /> --}}

    <div class="section-content">
      <div class="spacer"></div>
      <h2 class="section-title">Formação</h2>
      <div class="spacer"></div>

      <div style="display:flex; flex-direction:column; gap:50px;">
        @each(item in resume.data.education.reverse())
        <div style="display:flex; flex-direction:column; gap:10px;">
          <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;" src="https://api.iconify.design/mdi:briefcase.svg?height=12&color=%23ffffff"
              alt="" />
            <h3 style="font-size:20px; text-transform:uppercase;">
              <div>{{ item.studyType }} {{ item.area }}</div>
              <div>em {{ item.institution }}</div>
            </h3>
          </div>

          {{-- <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;"
              src="https://api.iconify.design/material-symbols:calendar-month.svg?height=12&color=%23ffffff" alt="" />
            <div style="font-size:15px;">{{ resume.dateDuration(item.startDate, item.endDate) }}</div>
          </div> --}}

          <div style="display:flex; align-items:start; gap:10px;">
            <div style="min-width:20px;"></div>
            <div style="font-size:20px;">
              <div class="section-work-summary">
                {{ item.courses.join(', ') }}
              </div>
            </div>
          </div>

          <div style="display:flex; align-items:center; gap:5px;"></div>
        </div>
        @end
      </div>

      <div class="spacer"></div>
    </div>
  </div>


  <!-- Experience -->
  <div class="section-wrapper" style="background:#ffffff12;  border-top: solid 1px #00000011;">
    {{-- <img class="section-wrapper--icon"
      src="https://api.iconify.design/material-symbols:elderly.svg?color=%23502562" alt="" /> --}}

    <div class="section-content">
      <div class="spacer"></div>
      <h2 class="section-title">Experiências mais Relevantes</h2>
      <div class="spacer"></div>

      <div style="display:flex; flex-direction:column; gap:50px;">
        @each(work in resume.data.work.filter(o => o.meta.important))
        <div style="display:flex; flex-direction:column; gap:10px;">
          <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;" src="https://api.iconify.design/mdi:briefcase.svg?height=12&color=%23ffffff"
              alt="" />
            <h3 style="font-size:20px; text-transform:uppercase;">
              {{ work.name }} &nbsp; | &nbsp; {{ work.position }}
            </h3>
          </div>

          <div style="display:flex; align-items:center; gap:10px; display:none;">
            <img style="height:20px;"
              src="https://api.iconify.design/material-symbols:location-on.svg?height=12&color=%23ffffff" alt="" />
          </div>

          <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;"
              src="https://api.iconify.design/material-symbols:calendar-month.svg?height=12&color=%23ffffff" alt="" />
            <div style="font-size:15px;">{{ resume.dateDuration(work.startDate, work.endDate) }}</div>
          </div>

          <div style="display:flex; align-items:start; gap:10px;">
            <div style="min-width:20px;"></div>
            <div style="font-size:20px;">
              <div class="section-work-summary">
                {{{ resume.markdownToHtml(work.summary) }}}
              </div>
            </div>
          </div>

          <div style="display:flex; align-items:center; gap:5px;"></div>
        </div>
        @end
      </div>

      <div class="spacer"></div>
    </div>
  </div>


  <!-- Skills -->
  {{-- <div class="section-wrapper" style="background:#ffffff09; border-top: solid 1px #00000011;">
    <img class="section-wrapper--icon" src="https://api.iconify.design/ic:baseline-menu-book.svg?color=%23502562"
      alt="" />

    <div class="section-content">
      <div class="spacer"></div>
      <h2 class="section-title">Skills</h2>
      <div class="spacer"></div>

      <div style="display:flex; align-items:center; flex-wrap:wrap; gap:15px; font-size:18px; line-height:26px;">
        Em minha lista completa de tecnologias que conheço, constam {{ resume.listHumanized(resume.data.skills,
        (skill) => skill.name) }}
      </div>

      <div class="spacer"></div>
    </div>
  </div> --}}


  <!-- Projects -->
  {{--
  <div class="section-wrapper" style="background:#ffffff09;  border-top: solid 1px #00000011;">
    <img class="section-wrapper--icon" src="https://api.iconify.design/carbon:portfolio.svg?color=%23502562" alt="" />

    <div class="section-content">
      <div class="spacer"></div>
      <h2 class="section-title">Principais Projetos</h2>
      <div class="spacer"></div>

      <div style="display:flex; flex-direction:column; gap:50px;">
        @each(project in resume.data.projects.slice(0, 5))
        <div style="display:flex; flex-direction:column; gap:10px;">
          <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;" src="https://api.iconify.design/mdi:briefcase.svg?height=12&color=%23ffffff"
              alt="" />
            <h3 style="font-size:20px; text-transform:uppercase;">
              {{ project.name }}
            </h3>
          </div>

          <div style="display:flex; align-items:center; gap:10px; display:none;">
            <img style="height:20px;"
              src="https://api.iconify.design/material-symbols:location-on.svg?height=12&color=%23ffffff" alt="" />
          </div>

          @if(project.url)
          <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;"
              src="https://api.iconify.design/material-symbols:attach-file.svg?height=12&color=%23ffffff" alt="" />
            <div style="font-size:20px;">
              <a href="{{ project.url }}" target="_blank">Visitar Projeto</a>
            </div>
          </div>
          @end

          @if(project.startDate && project.endDate)
          <div style="display:flex; align-items:center; gap:10px;">
            <img style="height:20px;"
              src="https://api.iconify.design/material-symbols:calendar-month.svg?height=12&color=%23ffffff" alt="" />
            <div style="font-size:15px;">
              {{ resume.dateDuration(project.startDate, project.endDate) }}
            </div>
          </div>
          @end

          <div style="display:flex; align-items:start; gap:10px;">
            <div style="min-width:20px;"></div>
            <div style="font-size:20px;">
              <div class="section-project-summary">
                {{{ resume.markdownToHtml(project.description) }}}
              </div>
            </div>
          </div>

          <div style="display:flex; align-items:center; gap:5px;"></div>
        </div>
        @end
      </div>

      <div class="spacer"></div>
    </div>
  </div>
  --}}


  <!-- Footer -->
  <div class="section-wrapper" style="border-top: solid 1px #00000011;">
    <div class="section-content">
      <div class="spacer"></div>
      <div class="section-text"><br /></div>
      <div class="spacer"></div>
    </div>
  </div>

</body>

</html>